# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

# Schemes
*.xcscheme

# Others
*.swp
*.lock

# Exclude specific scheme files containing sensitive information
RocketLaunchTracker.xcodeproj/xcshareddata/xcschemes/RocketLaunchTracker.xcscheme.DS_Store
