<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>OR(
        ANY attachments.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.text&quot;,
        ANY attachments.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.image&quot;,
        ANY attachments.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.url&quot;,
        ANY attachments.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.movie&quot;,
        ANY attachments.registeredTypeIdentifiers UTI-CONFORMS-TO &quot;public.audio&quot;
    )</string>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).ShareViewController</string>
	</dict>
</dict>
</plist>
